
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

main {
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
